opencv-python          # Xử lý webcam, ảnh
mediapipe              # Face mesh landmarks
numpy                  # Tính toán EAR, xử lý mảng
playsound==1.2.2       # Phát âm thanh cảnh báo ổn định trên Windows
